.input-group {
	display: flex;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group .button-delete {
	margin-top: 12px;
}

.form-control-wrapper {
	position: relative;
	flex: 1 0 0;
	margin-right: 10px;
	margin-top: 12px;
}

.form-control {
	width: 100%
}

.form-control-label {
	position: absolute;
	left: 5px;
	top: -15px;
	color: #666;
}

